<footer class="footer bg-dark py-3 ">
    <div class="container d-flex justify-content-around">
        <span class="text-light ml-4">&copy;yelp-camp 2024</span>
    <a href="https://www.linkedin.com/in/niket-singla-2374b2230/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn Profile" class="linkedin-logo" style=" width: 35px;height: 35px;"></a>
    <a href="https://github.com/niketsingla164" target="_blank">
        <img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="Github Profile" class="linkedin-logo mr-2"
            style=" width: 35px;height: 35px;"></a>
    </div>
</footer>