<%- layout('layouts/boilerplate') %>
<div class="container">
<div class="row">
<div class="col-6 offset-3 alert alert-danger" role="alert">
    <h4 class="alert-heading">ERROR!!!!<%= err.message %></h4>
    <hr>
    <% if(process.env.NODE_ENV !== 'production'){ %>
    <p><%= err.stack %></p>
    <% } %>
    <hr>
  </div>
</div>
</div>